body {
    margin: 0;
    color: white;
    background-position: top;
    background-repeat: repeat, no-repeat;
    background-size: cover;
    height: 100%;
}

a {
    text-decoration: none;
    color: #ffffff;
}

/* ------ header --------- */
body {
    background-color: #101010;
}

header {
    padding-top: 37px;
}

.btn-dropdown-menu {
    display: none;
}

.header-menu {
    max-width: 1920px;
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.left-div-menu {
    /* margin-left: 8px; */
}

.left-div-menu-a {
    display: flex;
    align-items: center;
}

.left-div-menu-Qeeb {
    font-family: 'Gilroy';
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    margin-left: 10px;
}


.center-div-menu ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 409px;
}

.center-div-menu-a {
    font-family: 'Red Rose';
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.3px;
}

.right-div-menu {
    /* margin-right: -8px; */
}

.btn-right-div-menu {
    font-family: 'Red Rose';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    background-color: #52FFE0;
    width: 180px;
    height: 50px;
    border-radius: 50px;
    letter-spacing: 0.3px;
}

/* ----------- container-1 ---------------- */

.container-1 {
    padding-top: 72px;
    background-size: 100%;
    max-width: 1920px;
    padding-left: 150px;
    padding-right: 160px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

.left-side-container-1 {
    display: flex;
    flex-direction: column;
    margin-top: 84px;
}

.title-container-1 {
    font-family: 'Monument';
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.44px;
}

.about-container-1 {
    margin-top: 17px;
    font-family: 'Monument';
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 680px;
    text-transform: uppercase;
    letter-spacing: 2.88px;
    position: relative;
}

.explore-container-1 {
    display: flex;
    margin-top: 64px;
}

.btnExplore-container-1 {
    border: none;
    background-color: #52FFE0;
    width: 150px;
    height: 65px;
    border-radius: 50px;
    font-family: 'Red Rose';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.microAva1 {
    margin-left: 51px;
}

.microAva2 {
    margin-left: -20px;
}

.microAva3 {
    margin-left: -20px;
}

.arrow {
    margin: 13px 0 0 9px;
}

.stat-container-1 {
    display: flex;
    max-width: 508px;
    justify-content: space-between;
    margin-top: 13px;
    margin-left: 5px;
}

.poloska {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.count-info-container-1 {
    font-family: 'Monument';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
}

.info-poloska {
    color: #818698;
    font-family: 'Red Rose';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;
    margin-top: 7px;
}

.right-side-container-1 img {
    max-width: 775px;
    max-height: 758px;
    border-radius: 180px;
    box-shadow: 0 0 50px 10px rgba(71, 26, 155, 0.5);
}

.nft1Mob{
    display: none;
}

.iconCenter {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 78.9%;
    left: 51.2%;
    z-index: 2;
}

.statVertikal{
    display: none;
}




/* ---------- container-2 -------------- */

.container-2 {
    max-width: 1920px;
    padding-left: 150px;
    padding-right: 150px;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 120px;
}

.top-container-2 {
    font-family: 'Monument';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.main-container-2 {
    margin-top: 73px;
    position: relative;
}

.card-container-2 {
    width: 245px;
    height: 367px;
    border-radius: 50px;
    background: #2C2D31;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

.card-name-container-2 {
    margin-top: 51px;
    margin-left: 1px;
    font-family: 'Red Rose';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.96px;
}


.swiper-button-container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: -2%;
    width: 104.2%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    /* Щоб кнопки були над картками */
    overflow: visible;
}

.swiper-button-prev-custom {
    background-image: url(../img/cardImg/leftArrow.svg);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    height: 70px;
    width: 70px;
    background-color: #2C2D31;
    border-radius: 50px;
}

.swiper-button-next-custom {
    background-image: url(../img/cardImg/rightArrow.svg);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    height: 70px;
    width: 70px;
    background-color: #2C2D31;
    border-radius: 50px;
}

.pagin{
    display: none;
}

/* ------------- container-3 ----------------*/

.container-3 {
    background-color: #1D1E22;
}

.body-container-3 {
    max-width: 1920px;
    padding-left: 150px;
    padding-right: 150px;
    margin: auto;
    padding-top: 120px;
    padding-bottom: 86px;
}

.top-container-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-left-container-3 {
    font-family: 'Monument';
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.top-right-container-3 {
    width: 293px;
    height: 70px;
    border-radius: 20px;
    background-color: #2C2D31;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Red Rose';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.64px;
}

.days7 {
    width: 150px;
    height: 60px;
    border-radius: 20px;
    background-color: #1D1E22;
    display: flex;
    justify-content: center;
    align-items: center;
}

.days30 {
    margin-right: 30px;
}

.main-container-3 {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-container-3 {
    display: flex;
    width: 520px;
    padding: 10px;
    background-color: #2C2D31;
    border-radius: 30px;
    margin-bottom: 30px;
}

.left-card-container-3 {
    position: relative;
}

.number-card-container-3 {
    width: 34px;
    height: 34px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #52FFE0;
    top: 0%;
    left: 76%;
    color: #2C2D31;
}

.right-card-container-3 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-left: 24px;
    margin-right: 31px;
}

.name-card-container-3 {
    font-family: 'Red Rose';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 3px;
}

.floor-card-container-3 {
    color: #818698;
    font-family: 'Red Rose';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.eth-card-container-3 {
    font-family: 'Red Rose';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.baks-card-container-3 {
    font-family: 'Red Rose';
    color: #818698;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 1px;
    margin-bottom: 1px;
}

.persent-card-container-3 {
    color: #52FFE0;
    font-family: 'Red Rose';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.bot-container-3 {
    display: flex;
    justify-content: center;
    margin-top: 41px;
}

.see-all-btn {
    width: 180px;
    height: 50px;
    border-radius: 50px;
    background: #52FFE0;
    color: #2C2D31;
    text-align: center;
    font-family: 'Red Rose';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.32px;
}

/* <!----------------- container 4 -----------------> */

.container-4 {
    max-width: 1920px;
    padding-left: 150px;
    padding-right: 151px;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 120px;
}

.top-container-4 {
    font-family: 'Monument';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.main-container-4 {
    margin-top: 73px;
    position: relative;

}

.swiper2 {
    overflow: hidden;
}

.card-container-4 {
    padding: 0 0px 14px 0px;
    background-color: #1D1E22;
    width: 383px;
    border-top-left-radius: 38px;
    border-top-right-radius: 38px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

}

.name-card-container-4 {
    font-family: 'Red Rose';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.96px;
    padding-left: 15px;
    margin-top: 16px;
}

.number-card-container-4 {
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.64px;
    padding-left: 15px;
    margin-top: 8px;
}

.info-card-container-4 {

    margin: auto;
    width: 357px;
    height: 80px;
    background-color: #2C2D31;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 31px;
    padding-left: 24px;
    padding-right: 24px;
    align-items: center;

}

.top-info-card-container-4 {
    color: #999;
    font-family: 'Red Hat Display';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.64px;
    margin-bottom: 6px;
}

.bot-info-card-container-4 {
    font-family: 'Red Hat Display';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.56px;
    margin-top: 6px;
}





.swiper-button-container-4 {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: -2%;
    width: 104.3%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    /* Щоб кнопки були над картками */
    overflow: visible;
}

.swiper-button-prev-custom-cont-4 {
    background-image: url(../img/cardImg/leftArrow.svg);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    height: 70px;
    width: 70px;
    background-color: #2C2D31;
    border-radius: 50px;
}

.swiper-button-prev-custom-cont-4:hover {
    background-color: #52FFE0;
    background-image: url(../img/cardImg/blackarrow.svg);
}

.swiper-button-next-custom-cont-4 {
    background-image: url(../img/cardImg/rightArrow.svg);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    height: 70px;
    width: 70px;
    background-color: #2C2D31;
    border-radius: 50px;
}

.swiper-button-next-custom-cont-4:hover {
    background-color: #52FFE0;
    transform: scaleX(-1);
    background-image: url(../img/cardImg/blackarrow.svg);
}


/* <!----------------- container-5 -----------------> */

.container-5 {
    background-color: #1D1E22;
}

.body-container-5 {
    max-width: 1920px;
    padding-left: 150px;
    padding-right: 150px;
    margin: auto;
    padding-top: 120px;
    padding-bottom: 122px;
}

.top-container-5 {
    font-family: 'Monument';
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.Blog{
    display: none;
}

.main-container-5 {
    margin-top: 48px;
    display: flex;
}

.card-container-5 {
    margin-right: 6px;
}

.info-card-container-5 {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name-card-container-5 {
    color: #0A142F;
    font-family: 'Red Rose';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    display: flex;
    height: 28px;
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 36px;
    background: #F3F5F6;
    margin-top: 2px;
}

.sound{
    display: none;
}

.date-card-container-5 {
    font-family: 'Red Rose';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 257px;
    margin-bottom: 3px;
    color: #DFE5F5;
}

.about-card-container-5 {
    font-family: 'Red Rose';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    max-width: 496px;
    margin-top: 15px;
}

.readMore-card-container-5 {
    margin-top: 47px;
    border: 1px solid white;
    width: 150px;
    height: 56px;
    background-color: rgba(255, 0, 0, 0);
    border-radius: 30px;
    font-family: 'Red Rose';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: white;
}

.readMore-card-container-5 img {
    margin-left: 3px;
}

.arrow2-con5{
    display: none;
}


/* ------ container-6 ------- */
.container-6 {
    width: 1620px;
    height: 290px;
    margin: auto;
    padding: 96px 36px 95px 72px;
    margin-top: 120px;
    margin-bottom: 120px;
    background-color: #1D1E22;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.info-container-6 {
    font-family: 'Monument';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;
    width: 550px;
    height: 99px;

}

.btns-container-6 {
    display: flex;
    margin: auto;
}

.appstore-container-6 {
    display: flex;
    width: 270px;
    height: 72px;
    padding: 24px;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 50px;
    background-color: #2C2D31;
    margin-right: 16px;
}

.googleplay-container-6 {
    display: flex;
    width: 270px;
    height: 72px;
    padding: 24px;
    padding-bottom: 26px;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 50px;
    background-color: #52FFE0;
    color: #1D1E22;
}

.googleplay-container-6 img {
    margin-right: 8px;
}

/* ------ footer -------- */

footer {
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: #1D1E22;
}

.top-footer {
    margin: auto;
    width: 1442px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.center-top-footer {
    display: flex;
    width: 495px;
    justify-content: space-between;
    margin-top: -2px;
}

.right-top-footer {
    width: 495px;
    height: 270px;
    border-radius: 30px;
    background-color: #52FFE0;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 80px;
}

.left-info-list {
    width: 231.5px;
}

.right-info-list {
    width: 231.5px;
}

.main-row-list {
    font-family: 'Monument';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 16px;
}

.simple-row-list {
    font-family: 'Red Rose';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    color: #DFE5F5;
}



.signUp {
    color: #1D1E22;
    font-family: 'Monument';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.96px;
}

.emailInfo {
    margin-top: 17px;
    color: #1D1E22;
    font-family: 'Red Rose';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;
    border-bottom: 2px solid #3FC9B0;
}


.pimpi{
    position: absolute;
    left: 93.5%;
    top: 78.2%;
}

.bot-footer {
    margin: auto;
    max-width: 1433px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

}

.bot-footer-left {
    font-family: 'Red Rose';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    color: #DFE5F5;
}

.bot-footer-center {
    margin-top: -3px;
    font-family: 'Red Rose';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    color: #DFE5F5;
    margin-left: 13px;
}

.Privacy {
    margin-left: 15px;
}

.bot-footer-right {
    display: flex;
    width: 264px;
    height: 24px;
    justify-content: space-between;
    align-items: center;
}

.icon1 {
    height: 18px;
}

.icon2 {
    height: 21px;
}

.icon3 {
    height: 18.74px
}

.icon4 {
    height: 20px
}

.icon5 {
    height: 20px
}

.icon6 {
    width: 21px;
}

.footer-2{
    display: none;
}